<h1>Transactions</h1>


<p><a href="transactions/new">New transaction</a></p>
<div class="list">
  <ul>

    <% for transaction in @transactions %>
      <li>
        <a href="/transactions/<%= transaction.id %>">Transaction</a>
          <%= transaction.merchants.name %>
          <%  for tag in transaction.tags %>
          <%= tag.type %>
          <%= transaction.amount %>
          <hr>

          <% end %>
      </li>

    <% end %>
  </ul>
  <h1>Total: <%= @total %></h1>
</div>
