<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table class="content-table">
        <thead>
          <tr>
        <th></th>
        <th >Merchant</th>
        <th>Tag</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>

        <tr>
          <td>
          <button type="button" name="edit"><a class="edit-link" href="/transactions/<%= transaction.id %>">View Transaction</a></button>
          </td>
          <td>
            <%= transaction.merchants.name %>
          </td>
          <td>
            <%  for tag in transaction.tags %>
            <%= tag.type %>
          </td>
          <td>
            <%= transaction.amount %>
          </td>
            <% end %>
        </tr>
    </tbody>
        <% end %>

        <h1 class="budget">Budget: <%= @budget.cash %></h1>

    </table>
    <h1 class="total">Total: <%= @total %></h1>
    <div class="transaction-links">
      <button type="button" name="button" class="button"><a href="transactions/new"> New Transaction</a></button>

    </div>
<hr>
  </body>
</html>
