
<form class="edit-form">
  <a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
  <h1>Merchant: <%= @transaction.merchants.name %></h1>
  <%  for tag in @transaction.tags %>
  <h2>Tag: <%= tag.type %></h2>
  <% end %>
  <h2>Amount: <%= @transaction.amount %></h2>
  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input type="submit" value="Delete Transaction" class="delete"/>
</form>
