
<form class="edit-form">
  <button class="button" type="button" name="button"><a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a></button>
  <h1>Merchant: <%= @transaction.merchants.name %></h1>
  <%  for tag in @transaction.tags %>
  <h2>Tag: <%= tag.type %></h2>
  <% end %>
  </form>
  <h2>Amount: <%= @transaction.amount %></h2>
  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input class="delete" type="submit" value="Delete Transaction"/>
</form>
